/**
 * @name VrilVision
 * @author ganjamancer
 * @version 7.0.1
 * @description A very simple fork of ClearVision.
 * @source https://github.com/ganjamancer/vrilvision
 * @website https://scrv.xyz
 * @invite ejubbwbh
 */

/* IMPORT CSS */
@import url("https://raw.githubusercontent.com/ganjamancer/VrilVision/refs/heads/main/main.css");

:root {
  /* General variables */
  --background-shading-percent: 150%;
  --saturation-factor: 1;
  
  /* Accent colors */
  --main-color: #ff0000;
  --hover-color: #910606;
  --success-color: #cf4d5f;
  --danger-color: #982929;
  
  /* Status colors */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  
  /* Background variables; Vencord requires that the images are from Github or Imgur URLs */
  --background-image: url();
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));


  
  /* User panel background variables (inherit from root for consistency) */
  --user-popout-image: var(--background-image);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  --user-modal-image: var(--background-image);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);
  
  /* Home icon; Vencord requires that the images are from Github or Imgur URLs */
  --home-icon: url(https://scrv.xyz/cdn/bsg.gif);

  /* Font variables */
  --main-font: Hack;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, monospace;
}

/* Light theme variables (use classes to apply) */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* Ash theme variables (use classes to apply) */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* Darker theme variables (use classes to apply) */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* Midnight theme variables (use classes to apply) */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* Apply a theme using the class attribute */
html[class*="theme-"] {
  --background-shading-percent: calc(var(--theme-light-darkness, 0.5) * 150%); /* Theme darkness affects background shading */
}

/* Colors for different states of UI elements (e.g., active, hover, focus) */
:is(.active, .hover, .focus) {
  --element-color: var(--main-color);
}

/* Send button styling */
svg.sendIcon_aa63ab {
  color: var(--main-color);
}

/* Hide gift box button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Position the user panel */
.panels_c48ade {
  left: var(--custom-guild-list-width) !important;
  width: calc(100% - var(--custom-guild-list-width)) !important;
}

/* Align guild name to the left */
.title_c38106 {
  justify-content: flex-start;
}

/* Glow around profile picture */

.avatar_c19a55.clickable_c19a55 {
  filter: drop-shadow(0 0 5px);
  color: var(--main-color);
}

/* Profile picture rotates upon hover */

.avatar_c19a55:hover.clickable_c19a55:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--main-color);
  transform: scale(1.2) rotate(360deg);
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}
